# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

composable_kernel

*.egg-info

dist/

build/
torch_ck/kernels/generated_kernels/*.cpp
torch_ck/kernels/generated_kernels/machete_mm_kernel_hip.h
torch_ck/kernels/generated_kernels/machete_mm_kernel.h
torch_ck/kernels/**/*_hip.h
torch_ck/kernels/**/*_hip.cpp
